body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  padding: 0;
}

#root{
  width: 100%;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-icons-flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-icons-outlined-gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 40%);
}

::-webkit-scrollbar-track:hover {
  background: rgb(0 0 0 / 80%);
}
 
::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 40%); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255 255 255 / 80%);
}

.display-pointer-cursor {
  cursor: pointer;
}

.MuiFormControl-root.MuiDataGrid-filterFormOperatorInput {
  min-width: 150px;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}